.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.category-title {
  font-size: 38px;
  margin-bottom: 25px;
  text-align: center;

  @media screen and (max-width: 800px) {
    font-size: 24px;
  }
}
